03-invoicing-billing/workflow.json
{
  "name": "03 - Invoicing & Billing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 1 * *"
            }
          ]
        }
      },
      "id": "c3a3f003-0001-4003-8003-000000000001",
      "name": "Monthly Billing Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "notesInFlow": true,
      "notes": "Fires at 06:00 on the 1st of each month, once the prior billing period has closed."
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Mirrors src/invoicing.py + src/reminders.py.\n# In production, call the Python service or replicate the billing rules here.\nimport datetime\ntax_rate = 0.08\nterms_days = 30\noffsets = [3, 7, 14]\nout = []\nfor item in items:\n    inv = item['json']\n    subtotal = round(sum(li['qty'] * li['unit_price'] for li in inv.get('line_items', [])), 2)\n    tax = round(subtotal * tax_rate, 2)\n    total = round(subtotal + tax, 2)\n    due = datetime.date.fromisoformat(inv['period_end']) + datetime.timedelta(days=terms_days)\n    as_of = datetime.date.fromisoformat(inv['as_of'])\n    paid = float(inv.get('amount_paid', 0))\n    days_over = max((as_of - due).days, 0)\n    fired = [o for o in offsets if paid < total and days_over >= o]\n    status = 'paid' if paid >= total else ('partial' if paid > 0 else 'open')\n    out.append({'json': {**inv, 'subtotal': subtotal, 'tax': tax, 'total': total, 'due_date': due.isoformat(), 'status': status, 'reminders_due': fired}})\nreturn out"
      },
      "id": "c3a3f003-0002-4003-8003-000000000002",
      "name": "Build Invoice + Reminders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json[\"reminders_due\"].length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "c3a3f003-0003-4003-8003-000000000003",
      "name": "Overdue?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "resource": "invoice",
        "operation": "upsert",
        "externalId": "={{ $json[\"id\"] }}",
        "additionalFields": {
          "customer": "={{ $json[\"client_id\"] }}",
          "amountDue": "={{ $json[\"total\"] }}",
          "dueDate": "={{ $json[\"due_date\"] }}"
        }
      },
      "id": "c3a3f003-0004-4003-8003-000000000004",
      "name": "Upsert Invoice (Stripe)",
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [960, 200],
      "notesInFlow": true,
      "notes": "Idempotent upsert keyed by client+period invoice id - re-runs never double-bill."
    },
    {
      "parameters": {
        "fromEmail": "billing@example.com",
        "toEmail": "={{ $json[\"client_email\"] }}",
        "subject": "=Reminder: invoice {{ $json[\"id\"] }} is {{ $json[\"reminders_due\"][-1] }} days overdue",
        "text": "=Invoice {{ $json[\"id\"] }} for {{ $json[\"total\"] }} {{ $json[\"currency\"] }} is past due. Please remit payment."
      },
      "id": "c3a3f003-0005-4003-8003-000000000005",
      "name": "Send Reminder Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "fromEmail": "billing@example.com",
        "toEmail": "={{ $json[\"client_email\"] }}",
        "subject": "=Invoice {{ $json[\"id\"] }}",
        "text": "=Your invoice for {{ $json[\"total\"] }} {{ $json[\"currency\"] }} is attached. Due {{ $json[\"due_date\"] }}."
      },
      "id": "c3a3f003-0006-4003-8003-000000000006",
      "name": "Send Invoice / Receipt",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [960, 420],
      "notesInFlow": true,
      "notes": "On time or paid -> send the invoice or a paid receipt, no chasing needed."
    }
  ],
  "connections": {
    "Monthly Billing Trigger": {
      "main": [[{ "node": "Build Invoice + Reminders", "type": "main", "index": 0 }]]
    },
    "Build Invoice + Reminders": {
      "main": [[{ "node": "Overdue?", "type": "main", "index": 0 }]]
    },
    "Overdue?": {
      "main": [
        [{ "node": "Upsert Invoice (Stripe)", "type": "main", "index": 0 }],
        [{ "node": "Send Invoice / Receipt", "type": "main", "index": 0 }]
      ]
    },
    "Upsert Invoice (Stripe)": {
      "main": [[{ "node": "Send Reminder Email", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["business-automation-playbook", "invoicing-billing"]
}
